#PhoneLogoDiv {
    display: none;
}

@media only screen and (max-width : 480px) {
    #DesktopLogoDiv {
        display: none;
    }

    #PhoneLogoDiv {
        display: inline-block;
    }
}

/*
     FILE ARCHIVED ON 04:34:47 May 28, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:56:54 May 16, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.315
  load_resource: 135.108 (2)
  PetaboxLoader3.resolve: 80.745 (2)
  PetaboxLoader3.datanode: 52.256 (2)
*/